<!DOCTYPE html>
<!-- Most basic Angular app -->
<html>
<!-- Angular has full control over the page -->

<head>
    <meta charset="utf-8">
    <title></title>
    <script type="text/javascript" src="angular.min.js"></script>
    <script type="text/javascript" src="client.js"></script>
</head>

<body ng-app="myApp">
    <!-- 2 Way Binding Example -->
    <!-- Similar to... var intro = what you type -->
    <!-- intro is an expression, could be {{intro + " tomato"}} or {{ 7 + 2 }} -->
    <div ng-controller="GuessWhoController as guess">
        <form name="github">
    Name:    <input type="text" ng-model="guess.newPeoples.name"> 
    GitHub:  <input type="text" ng-model="guess.newPeoples.gitHub">
             <button type="submit" ng-click="guess.append()">Make it happen</button>
        </form>     
        <div ng-repeat="person in guess.peoples">
            <p>Names: {{person.name}}</p>
        </div>
    </div>
</body>
</html>